#=============================================================================
# cvs-logwatcher.pl configuration file
# """""""""""""""""
# Note: This file is in "extended" JSON format; comments and trailing commas
# are allowed.
#
# This file configures the configuration of the cvs-logwatcher.pl script. The
# configuration is deep and involved. Please read carefully the information
# in the comments before making changes, also see README for detailed
# description.
#
# In certain strings, following tokens can be used:
#
# %d - becomes '-dev' if running in development mode, otherwise ''
# %T - full tftp target directory
# %t - tftp subdirectory relative to tftp root
# %i - source IP address
# %h - device hostname as gleaned given in the monitored logfile
# %H - same as %h but without domain
# %P - prompt, this can be set within a chat script and used to match system
#      prompt
#=============================================================================

{

#=============================================================================
# CONFIG section
#=============================================================================

  "config" : {

    #--- path to logfiles, no trailing slash, better be absolute

    "logprefix" : "/var/log",

    #--- the IP address that will be used to make all requests; this should
    #--- be preferred outgoing interface of the server

    "src-ip"    : "172.16.20.30",

    #--- the tftp server's root directory; this should not be a subdirectory
    #--- thereof, use "tftpdir" for this

    "tftproot"  : "/tftpboot",

    #--- directory within "tftproot", it must be a relative path without
    #--- trailing slash; token "%d" will be replace with "-dev" when running
    #--- in development mode (allows for keeping development files separate)

    "tftpdir"   : "cs%d",

    #--- defines external file that may be used to define passwords; this
    #--- allows to separate the secrets away from this configuration file

    "keyring"   : "keyring.json",

    #--- how often is the script checking the logfiles

    "tailint"   : 4,

    #--- how long will the script wait for output to arrive in a logfile;
    #--- if this time expires, the logfile will be reopened and message is
    #--- written into the log

    "tailmax"   : 3600,

    #--- expect timeout; this defines how long will the expect scripts wait
    #--- for input

    "expmax"    : 60
  },

#=============================================================================
# RCS section
#=============================================================================

  "rcs" : {

    #--- subdirectory of the scripts main directory where the RCS repository
    #--- will be located

    "rcsrepo"   : "data",

    #--- location of RCS binaries

    "rcsctl"    : "/usr/bin/rcs",
    "rcsci"     : "/usr/bin/ci",
    "rcsco"     : "/usr/bin/co"
  },

#=============================================================================
# MIB section
#=============================================================================

  "mib" : {
    "writeNet" : ".1.3.6.1.4.1.9.2.1.55",
    "hostName" : ".1.3.6.1.4.1.9.2.1.3.0",
    "sysName" : ".1.3.6.1.2.1.1.5.0",
    "sysDescr" : ".1.3.6.1.2.1.1.1.0"
  },

#=============================================================================
# SNMP UTILS section
#=============================================================================

  "snmp"  : {

    #--- define location of snmpget and snmpset

    "get" : "/usr/bin/snmpget",
    "set" : "/usr/bin/snmpset"
  },

#=============================================================================
# PING section
#=============================================================================

  #--- define the ping command used to ascertain that target is alive

  "ping" : "ping -c 1 -W 2 %h >/dev/null 2>&1",

#=============================================================================
# GROUPS section
#
# This assigns hosts (ie. network devices we are getting the configs off) into
# groups. These groups are stored separately in the RCS repository, so that,
# for example, different teams may have different directories etc. The
# assignments are done by matching a set of regular expressions that are
# defined in this section.
#=============================================================================

  "groups" : {
    "nsu" : [
      "^(bsc|rnc|bud|sitR|sitS|gtsR|bce|sitnb|strnb).+$",
      "^rcnR0[45]m$"
    ],
    "infserv" : [
      "^(vinPE02|sitPE0[23].*|A[123456]|CA|DCN|.*INFSERV.*)$"
    ]
  },

#=============================================================================
# IGNORE USERS section
#
# This defines a list of usernames who won't trigger action by cvs-logwatcher
# when they make config change; this is useful for other system tools that
# might trigger unwanted repository check-ins.
#=============================================================================

  "ignoreusers" : [
    "cvs",
    "alu-stats",
    "account_stat"
  ],

#=============================================================================
# LOGFILES section
#
# This defines logfiles that will be opened and watched. The match regex must
# provide 'host' named capture group; 'user' and 'msg' are optional and will
# be used when available.
#=============================================================================

  "logfiles" : {
    "cisco" : {
      "filename" : "/var/log/cisco_all.log",
      "match" :    "^.*\\s+\\d+\\s+[0-9:]+\\s+(?<host>[\\w\\d.]+)\\s+.*CONFIG_I.*(?<msg>Configured from (?:console|vty) by (?<user>\\w+).*)\\s*$",
    },
    "alu" :   {
      "filename" : "/var/log/cpn_change.log",
      "match" :    "^.*\\s+\\d+\\s+[0-9:]+\\s+(?<host>[\\w\\d.]+)\\s+.*cli_user_logout.* (?<msg>\\[(?<user>[\\w\\d]+)\\]:\\s+.*)\\s*$",
    },
    "juniper" : {
      "filename" : "/var/log/network/fw.log",
      "match" :    "^.*\\s+\\d+\\s+[0-9:]+\\s+(?<host>[\\w\\d.]+)\\s+.*(?<msg>UI_COMMIT_PROGRESS: Commit operation in progress: commit complete)\\s*$",
    },
  },

#=============================================================================
# TARGETS section
#
# This is the most complex and most involved section. Each item under
# "targets" defines one target and its handling. Note, that "cisco" target has
# some special options and handling hardcoded for it (this should be
# regularized). Apart from this, the keys can be named freely. Please see
# README for detailed description.
#=============================================================================

  "targets" : [

    #--- Cisco IOS over telnet

    {
      "id"         : "cisco-telnet",
      "defgrp"     : "netit",
      "logfile"    : "cisco",
      "hostmatch"  : [
        { "includelist" : [
          "bsc022s0c", "bsc035s0c", "bsc039s0c", "bsc039s1c", "chrs12c",
          "chrs14c", "chrs15c", "strs04", "strs05", "strs06", "strs07",
          "strs08", "strs09", "strs10", "strs11", "strs12", "strs13",
          "strs14", "strs15", "strs16", "strs17", "strs18", "strs19",
          "strs20", "strs21", "strs22", "strs23", "strs28", "strs29",
          "strs32", "strs33", "strs34", "strs35", "strs26", "strs27",
          "rcns08", "rcns10", "phcs01c",
        ] },
      ],
      "validrange" : [ "^(!|version )", "^end\\s*$" ],
      "validate"   : [ "^end\\s*$" ],
      "ignoreline" : "^(!|ntp clock-period)",
      "snmp"       : {
        "ro" : "%1",
        "ver" : "2c",
      },
      "options"    : [ "snmphost", "normeol" ],
      "expect"     : {
        "spawn" : "/usr/bin/telnet %h",
        "sleep" : 1,
        "chat" : [
          [ "(Username|USERNAME|username):", "cvs1\r" ],
          [ "(Password|PASSWORD|password):", "%3\r" ],
          [ "^(\\S*)#", "term len 0\r", null, "%+0" ],
          [ "^%P#", "sh run\r", "%T/%H" ],
          [ "^%P#", "exit\r" ],
        ],
      }
    },

    #--- definition for Cisco IOS/NX-OS/IOS XR over SSH; some Nexus switches
    #--- seem to print additional CR before the prompt, so we match that by
    #--- '\s?' regex.

    {
      "id"         : "cisco-ssh",
      "defgrp"     : "netit",
      "logfile"    : "cisco",
      #"hostmatch"  : [
      #  { "excludelist" : [ "strnb00", "sitnb00" ] },
      #],
      "validrange" : [ "^(!|version )", "^end\\s*$" ],
      "validate"   : [ "^line vty" ],
      "filter"     : [ "^Connection to \\S+ closed", "# exit\\s*$" ],
      "ignoreline" : "^(!|ntp clock-period)",
      "snmp"       : {
        "ro" : "%1",
        "ver" : "2c",
      },
      "options"    : [ "snmphost", "normeol" ],
      "expect"     : {
        "spawn" : "/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs1 %h",
        "sleep" : 1,
        "chat" : [
          [ "(Password|PASSWORD|password):", "%3\r" ],
          [ "^\\s?(\\S*)#", "term len 0\r", null, "%+0" ],
          [ "^\\s?%P#", "sh run\r", "%T/%H" ],
          [ "^\\s?%P#", "exit\r" ],
        ],
      }
    },

    #--- "cisco" has some special hardcoded options and handling; the default
    #--- way of getting a config is to trigger the "writeNet" SNMP OID, which
    #--- causes the device to upload its configuration via tftp; this requires
    #--- running tftp server, of course; the other two options are for IOS XR
    #--- and NX-OS switches, where the SNMP/tftp method doesn't work the way
    #--- we need
    #---
    #--- NOTE: This is the original way of doing things and it will be
    #--- eventually removed; the NX-OS/IOS XR matching is unnecessary, use the
    #--- config targets "cisco-ssh" or "cisco-telnet" instead!!!

    {
      "id" : "cisco",
      "defgrp"     : "netit",
      "logfile"    : "cisco",
      "matchxr"    : "Cisco IOS XR",
      "matchnxos"  : "Cisco NX-OS",
      "ignoreline" : "^(!|ntp clock-period)",
      "snmp" : {
        "ro" : "%1",
        "rw" : "%2",
        "ver" : 1
      },
      "expect" : {
        "ios-xr" : {
          "spawn" : "/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs1 %h",
          "sleep" : 1,
          "chat" : [
            [ "password:",                   "%3\r"    ],
            [ "^RP/.*/RSP.*/CPU.*:.*NB00#$", "copy running-config tftp://%i/%t/%H vrf MGMT\r" ],
            [ "control-c to abort",          "\r"              ],
            [ "control-c to abort",          "\r"              ],
            [ "^RP/.*/RSP.*/CPU.*:.*NB00#$", "exit\r"          ]
          ]
        },
        "nx-os" : {
          "spawn" : "/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs1 %h",
          "sleep" : 1,
          "chat" : [
            [ "Password:", "%3\r" ],
            [ "#", "echo $(SRCVRF)\r" ],
            [ "^([a-z]+)\\r?$", "copy running-config tftp://%i/%t/%H vrf %+0\r" ],
            [ "#", "exit\r" ]
          ]
        }
      }
    },

    #--- Alcatel-Lucent 7750SR, uses static user 'cvs' that needs privilege
    #--- to issue the commands used in the chat script ("environment more",
    #--- "admin display-config")

    {
      "id"         : "alu",
      "defgrp"     : "nsu",
      "logfile"    : "alu",
      "validrange" : [ "^# TiMOS", "^# Finished" ],
      "validate"   : [ "^# Finished" ],
      "ignoreline" : "^#",
      "expect" : {
        "spawn" : "/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs %h",
        "sleep" : 1,
        "chat" : [
          [ "password:", "%4\r" ],
          [ "^(\\S*)#", "environment no more\r", null, "%+0" ],
          [ "%P#", "admin display-config\r", "%T/%H" ],
          [ "%P#", "logout\r" ]
        ]
      }
    },

    #--- definition for a Juniper device; the configuration is retrieved by
    #--- issuing "show configuration" command and then recording the session;
    #--- note the third field added to the expect/send pairs: it is a file
    #--- where the session is to be recorded

    {
      "id"         : "juniper",
      "defgrp"     : "secit",
      "logfile"    : "juniper",
      "validrange" : [ "^set version", null ],
      "ignoreline" : "^#",
      "options"    : [ "normeol" ],
      "expect" : {
        "spawn" : "/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l tufin %h",
        "sleep" : 1,
        "chat" : [
          [ "[Pp]assword:", "%5\r" ],
          [ "^tufin@.*> $", "show configuration | display set | no-more\r", "%T/%H" ],
          [ "^tufin@.*> $", "exit\r" ]
        ]
      }
    },

  ],

#=============================================================================
# DEVICE GROUPS section
#
# These groups allow manual polling of a group of hosts using the
# --host=@group command-line option.
#=============================================================================

  "devgroups" : {
    "nxosswitches" : [
      "strs38", "strs39", "strs90", "strs91", "rcns17", "rcns18", "rcns19", "rcns20"
    ]
  }

}
