#=============================================================================
# cvs-logwatcher.pl configuration file
# """""""""""""""""
#
# This file configures the configuration of the cvs-logwatcher.pl script. The
# configuration is deep and involved. Please read carefully the information
# in the comments before making changes, also see README for detailed
# description.
#
# In certain strings, following tokens can be used:
#
# %D - temporary directory received files
# %h - device hostname as gleaned given in the monitored logfile
# %H - same as %h but without domain
# %P - prompt, this can be set within a chat script and used to match system
#      prompt
#=============================================================================

{

#=============================================================================
# CONFIG section
#=============================================================================

  config => {

    # path to logfiles, no trailing slash, better be absolute
    logprefix => '/var/log',

    # temporary directory for receiving files from devices (other than
    # over TFTP); if this is not specified, current directory is used
    tempdir => 'temp',

    # defines external file that may be used to define passwords; this
    # allows to separate the secrets away from this configuration file
    keyring => 'keyring.cfg',

    # expect timeout; this defines how long will the expect scripts wait
    # for input
    expmax => 120,

  },

#=============================================================================
# Repositories
#=============================================================================

  repos => [
    {
      type => 'RCS',
      base => 'data',
    },
    {
      type => 'Git',
      base => '/opt/cvs/repo/dev',
      email => 'admin@somecompany.com',
      name => 'Some Company',
    },
  ],

#=============================================================================
# RCS section
#=============================================================================

  rcs => {
    rcsctl => '/usr/bin/rcs',
    rcsci => '/usr/bin/ci',
    rcsco => '/usr/bin/co',
  },

#=============================================================================
# SNMP UTILS section
#=============================================================================

  snmp => {

    # define location of snmpget and snmpset
    get => '/usr/bin/snmpget',
    set => '/usr/bin/snmpset',
  },

#=============================================================================
# PING section
#=============================================================================

  # define the ping command used to ascertain that target is alive
  ping => 'ping -c 1 -W 2 %h >/dev/null 2>&1',

#=============================================================================
# GROUPS section
#
# This assigns hosts (ie. network devices we are getting the configs off) into
# groups. These groups are stored separately in the RCS repository, so that,
# for example, different teams may have different directories etc. The
# assignments are done by matching a set of regular expressions that are
# defined in this section.
#=============================================================================

  groups => {
    netit => [
      'ob00$', '^papce'
    ],
    nsu => [
      '^(bsc|rnc|sitR|sitS|gtsR|bcepe|sitnb|strnb|hkvpe|pappe).+$',
      '^rcnR0[45]m$',
    ],
    infserv => [
      '^(vinPE02|sitPE0[23].*|A[123456]|CA|DCN|.*INFSERV.*)$'
    ],
    pbx => [
      '^CZPBX'
    ]
  },

#=============================================================================
# IGNORE USERS section
#
# This defines a list of usernames who won't trigger action by cvs-logwatcher
# when they make config change; this is useful for other system tools that
# might trigger unwanted repository check-ins.
#=============================================================================

  ignoreusers => [ qw(cvs cvs1 alu-stats account_stat) ],

#===============================================================================
# MATCHES section
#
# This defines a set of regular expressions for use in the logfiles section.
#===============================================================================

  matches => {

    cisco => qr/
      ^.*\s+\d+\s+[0-9:.]+\s+
      (?<host>[-\w\d.]+)\s+.*CONFIG_I.*
      (?<msg>Configured\sfrom\s(?:console|vty)\sby\s(?<user>\w+).*)\s*$
    /x,

    cisco2 => qr/
      \d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\+\d{2}:\d{2}\s
      (?<host>[-\w\d.]+)\s.*CONFIG_I.*
      (?<msg>Configured from (?:console|vty) by (?<user>\w+).*)\s*$
    /x,

    cpnnokia => qr/
      ^.*\s+\d+\s+[0-9:]+\s+([-\w\d.]+)\s+(\d+)\s+(\S+)\s+
      (?<host>[-\w\d.]+)\s+-\s-\s-\s-\s\d+\s\S+\sUSER-MINOR-cli_user_logout-\d+\s
      (?<msg>\[(?<user>[\w\d]+)\]:\s+.*)\s*$
    /x,

    cpnjuniper => qr/
      ^.*\s+\d+\s+[0-9:]+\s+([-\w\d.]+)\s+(\d+)\s+(\S+)\s+
      (?<host>[-\w\d.]+)\s.*
      mgd\[(?<index>\d+)\]:\s%INTERACT-4-UI_COMMIT_COMPLETED
    /x,

    cpnjunuser => qr/
      ^.*\s+\d+\s+[0-9:]+\s+([-\w\d.]+)\s+(\d+)\s+(\S+)\s+
      (?<host>[-\w\d.]+)\s.*
      mgd\[(?<index>\d+)\]:\s%INTERACT-5-UI_COMMIT:\s
      User '(?<user>\w+)'.*\s+\(comment:\s+(?<comment>.*)\)
    /x,

    cpnjunuser2 => qr/
      ^.*\s+\d+\s+[0-9:]+\s+([-\w\d.]+)\s+(\d+)\s+(\S+)\s+
      (?<host>[-\w\d.]+)\s.*
      mgd\[(?<index>\d+)\]:\sUI_COMMIT:\s
      User\s'(?<user>\w+)'.*\s+\(comment:\s+(?<comment>.*)\)
    /,

    cpnjuniper3 => qr/
      ^.*\s+\d+\s+[0-9:]+              \s+ # RFC 3164 timestamp
      \S+                              \s+ # hostname (relay)
      \d+                              \s+ # pid?
      [0-9+-T]+                        \s+ # ISO 8601 timestamp
      (?<host>[-\w\d.]+)               \s+ # hostname (source)
      mgd\s+(?<index>\d+)              .+  # process id
      UI_COMMIT_COMPLETED:             .+
      commit\scomplete
    /x,

    cpnjunuser3 => qr/
      ^.*\s+\d+\s+[0-9:]+              \s+ # RFC 3164 timestamp
      \S+                              \s+ # hostname (relay)
      \d+                              \s+ # pid?
      [0-9+-T]+                        \s+ # ISO 8601 timestamp
      (?<host>[-\w\d.]+)               \s+ # hostname (source)
      mgd\s+(?<index>\d+)              .+  # process id
      UI_COMMIT:                       \s+
      User\s+'(?<user>\w+)'            \s+ # username
      requested\s'commit'\soperation\s
      \(comment:\s+(?<comment>.*)\)        # comment
    /x,

    dellsw => qr /
      ^\w+\s\d{1,2}\s\d{2}:\d{2}:\d{2} \s+ # RFC 3164 timestamp
      \S+                              \s+ # hostname (relay)
      \d+                              \s+ # pid?
      [0-9+-T]+                        \s+ # ISO 8601 timestamp
      (?<host>[-\w\d.]+)               \s  # hostname (source)
      .*                                   # skip uninteresting fields
      %MGMT_CLISH_CMD_AAA_ACCTG:       \s
      AAA\saccounting                  \s
      (?<user>\w+)                     \s  # username
      .*                               \s  # skip uninteresting fields
      stop                             \s  # match only "stop" records
      .*                               \s  # skip uninteresting fields
      cmd=write\smemory                    # match "write memory"
    /x,

    juniper => qr/
      ^.*\s+\d+\s+[0-9:]+\s+
      (?<host>[-\w\d.]+)\s+.*
      (?<msg>UI_COMMIT_PROGRESS:\s
      Commit\soperation\sin\sprogress:\scommit\scomplete)\s*$
    /x,

  },

#===============================================================================
# LOGFILES section
#
# This defines logfiles that will be opened and watched. Every logfile has a
# list of regular expressions (defined in the "matches" section above) that will
# be matched against every arriving log entry. When a match is made, the first
# target (defined below in the 'targets' section) referencing the match id will
# be invoked.
#===============================================================================

  logfiles => {

    test => [ '/opt/cvs/dev/test.log' ],
    cisco => [ '/var/log/cisco/cisco.log' => 'cisco', 'cisco2' ],
    alu => [
      '/var/log/network/cpn/change_new.log' => 'cpnnokia', 'cpnjuniper',
      'cpnjunuser', 'cpnjunuser2', 'cpnjuniper3', 'cpnjunuser3', 'dellsw'
    ],
    juniper => [ '/var/log/network/fw.log' => 'juniper' ],

    #test => {
    #  filename => '/opt/cvs/dev/test.log',
    #  match => [],
    #},
    #cisco => {
    #  filename => '/var/log/cisco/cisco.log',
    #  match => [ 'cisco', 'cisco2' ],
    #},
    #alu => {
    #  filename => '/var/log/network/cpn/change_new.log',
    #  match => [
    #    'cpnnokia', 'cpnjuniper', 'cpnjunuser', 'cpnjunuser2', 'cpnjuniper3',
    #    'cpnjunuser3', 'dellsw'
    #  ],
    #},
    #juniper => {
    #  filename => '/var/log/network/fw.log',
    #  match => [ 'juniper' ],
    #},
  },

#=============================================================================
# TARGETS section
#
# This is the most complex and most involved section. Each item under
# "targets" defines one target and its handling. Note, that "cisco" target has
# some special options and handling hardcoded for it (this should be
# regularized). Apart from this, the keys can be named freely. Please see
# README for detailed description.
#=============================================================================

  targets => [

    {
      id           => 'juniper-usr',
      defgrp       => 'nsu',
      matchid      => [ 'cpnjunuser', 'cpnjunuser2', 'cpnjunuser3' ],
      action       => sub {
                        my ($stash, $data) = @_;
                        my $idx = $data->{index};
                        $stash->{$idx}{user} = $data->{user};
                        $stash->{$idx}{comment} = $data->{comment};
                      },
    },

    {
      id           => 'juniper-scp',
      defgrp       => 'nsu',
      matchid      => [ 'cpnjuniper', 'cpnjuniper3' ],
      hostname     => [ 'host-name\s([-a-zA-Z0-9]+)-re\d', 'host-name\s([-a-zA-Z0-9]+);' ],
      options      => [ 'normeol' ],
      files        => [ '%D/%H' ],
      commit       => {
        msg        => sub {
                        my ($stash, $data) = @_;
                        my $idx = $data->{index};
                        sprintf(
                          'Commited by %s (comment: %s)',
                          $stash->{$idx}{user} // 'unknown',
                          $stash->{$idx}{comment} // 'none',
                        );
                      },
        user       => sub {
                        my ($stash, $data) = @_;
                        my $idx = $data->{index};
                        $stash->{$idx}{user} // 'unknown';
                      },
      },
      expect       => {
        spawn => '/usr/bin/scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no cvs1@%h:/config/juniper.conf %D/%H',
        deftask => 'main',
        chats => {
          login => [
            [ '(Password|PASSWORD|password):', "%3\r" ],
          ]
        },
        tasks => {
          main => { seq => [ 'login' ] }
        }
      }
    },

    # definition for Cisco IOS/NX-OS/IOS XR over SSH; some Nexus switches
    # seem to print additional CR before the prompt, so we match that by
    # '\s?' regex.

    {
      id           => 'cisco-ssh',
      defgrp       => 'netit',
      matchid      => [ 'cisco', 'cisco2' ],
      validrange   => [ '^(!|version )', '^end\s*$' ],
      filter       => [ '^Connection to \S+ closed', '# exit\s*$' ],
      ignoreline   => '^(!|ntp clock-period)',
      hostname     => '^(?:hostname|switchname)\s([-a-zA-Z0-9]+)',
      minsize      => 512,
      options      => [ "snmphost", "normeol" ],
      expect       => {
        spawn => '/usr/bin/ssh -o KexAlgorithms=diffie-hellman-group14-sha256,diffie-hellman-group1-sha1,diffie-hellman-group14-sha1 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs1 %h',
        sleep => 1,
        deftask => 'config',
        chats => {
          login => [
            [ '(Password|PASSWORD|password):', "%3\r" ],
            [ '^\s?(\S*)#', "term len 0\r", undef, '%+0' ],
          ],
          getconfig => [
            [ '^\s?%P#', "sh run\r", '%D/%H' ],
            [ '^\s?%P#', "\r", '-' ],
          ],
          getconfigall => [
            [ '^\s?%P#', "sh run all\r", "%D/%H.all" ],
            [ '^\s?%P#', "sh run\r", '-' ],
          ],
          logout => [
            [ '^\s?%P#', "exit\r" ],
          ],
        },
        tasks => {
          config => { seq => [ qw(login getconfig logout) ] },
          configall => { seq => [ qw(login getconfigall logout) ] },
        },
      }
    },

    # Alcatel-Lucent 7750SR, uses static user 'cvs' that needs privilege
    # to issue the commands used in the chat script ("environment more",
    # "admin display-config")

    {
      id         => 'alu',
      defgrp     => 'nsu',
      matchid    => 'cpnnokia',
      validrange => [ '^# TiMOS', '^# Finished' ],
      validate   => [ '^# Finished' ],
      ignoreline => '^#',
      rcsfile    => 'uppercase',
      options    => [ 'normeol', 'uchostname' ],
      expect => {
        spawn => '/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs %h',
        sleep => 1,
        deftask => 'config',
        chats => {
          login => [
            [ 'password:', "%4\r" ],
            [ '^(\S*)#', "environment no more\r", undef, '%+0' ],
          ],
          getconfig => [
            [ '%P#', "admin display-config\r", '%D/%H' ],
            [ '%P#', "\r", '-' ],
          ],
          getconfigall => [
            [ '%P#', "admin display-config detail\r", '%D/%H.all' ],
            [ '%P#', "\r", '-' ],
          ],
          logout => [
            [ '%P#', "logout\r" ]
          ]
        },
        tasks => {
          config => { seq => [ qw(login getconfig logout) ] },
          configall => { seq => [ qw(login getconfigall logout) ] },
        },
      }
    },

    # definition for a Juniper device; the configuration is retrieved by
    # issuing "show configuration" command and then recording the session;
    # note the third field added to the expect/send pairs: it is a file
    # where the session is to be recorded

    {
      id         => 'juniper',
      defgrp     => 'secit',
      matchid    => 'juniper',
      validrange => [ '^set version', undef ],
      ignoreline => '^#',
      options    => [ 'normeol' ],
      expect => {
        spawn => '/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l tufin %h',
        sleep => 1,
        deftask => 'config',
        chats => {
          config => [
            [ '[Pp]assword:', "%5\r" ],
            [ '^tufin@.*> $', "show configuration | display set | no-more\r", '%D/%H' ],
            [ '^tufin@.*> $', "exit\r" ]
          ]
        },
        tasks => {
          config => { seq => [ 'config' ] }
        }
      }
    },

    # definition for a Dell OS10 device
    {
      id         => 'dell',
      defgrp     => 'netit',
      matchid    => 'dellsw',
      options    => [ 'normeol' ],
      hostname   => '^(?:hostname|switchname)\s([-a-zA-Z0-9]+)',
      validrange => [ '^! Version', '^ntp source' ],
      ignoreline => [ '^!' ],
      commit     => {
        msg      => sub {
                      my ($stash, $data) = @_;
                      'Commited by ' . $data->{user};
                    },
      },
      expect     => {
        spawn    => '/usr/bin/ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -l cvs1 %h',
        sleep    => 1,
        deftask  => 'config',
        chats    => {
          login => [
            [ 'password:', "%3\r" ],
            [ '^\s?(\S*)#', "\r", undef, '%+0' ],
          ],
          getconfig => [
            [ '^%P#', "show running-configuration | no-more\r", '%D/%H' ],
            [ '^%P#', "\r", '-' ],
          ],
          logout => [
            [ '^%P#', "exit\r" ],
          ],
        },
        tasks => {
          config => { seq => [ qw(login getconfig logout) ] },
        }
      },
    },
  ],

#=============================================================================
# DEVICE GROUPS section
#
# These groups allow manual polling of a group of hosts using the
# --host=@group command-line option.
#=============================================================================

  devgroups => {
    nxosswitches => [
      'strs38', 'strs39', 'strs90', 'strs91', 'rcns17', 'rcns18', 'rcns19',
      'rcns20'
    ]
  }

}
